#add-action {
    width: 190px;
    margin: 25px 0 10px 0;
}

.panel {
    margin-bottom: 45px;
}

.panel .panel-header {
    padding-top: 12px;
}

.panel .panel-body {
    padding-left: 0;
    padding-right: 0;
}

.panel .left-col {
    width: 205px;
    text-align: right;
}

.panel .center-col {
    width: 295px;
}

.select, select {
    width: 100%;
}

li.price .center-col {
    width: 110px;
}

li#add-button-line {
    margin: 5px 0 15px;
}

li.quantity .center-col {
    width: 110px;
}

li.description textarea {
    height: 158px;
}

li.photos {
    background-color: #F1E8DF;
    padding: 15px 0;
}

li.photos .left-col,
li.photos .center-col {
    vertical-align: middle;
}

#dropbox {
    border: dashed #CFBBAE 2px;
    background: #F9F3EC url('../img/photo-diagonal-bg.png');
}

#dropbox:hover {
    background-color: #E6DAD5;
    border-color: #BEAA9D;
    cursor: pointer;
}

#dropbox p {
    text-align: center;
    font-family: RobotoBlack, sans-serif;
    font-size: 15px;
    color: #95938E;
    padding: 15px 0;
}

#photos-to-upload .photo-wrapper {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    border: solid #DFC8BB 1px;
    width: 82px;
    height: 82px;
    margin-right: 18px;
    margin-bottom: 18px;
}

#photos-to-upload .photo-wrapper:nth-child(3n) {
    margin-right: 0;
}

.icon-circle.setting,
.icon-circle.remove {
    position: absolute;
    top: -10px;
    display: none;
}

.icon-circle.setting {
    left: -10px;
}

.icon-circle.remove {
    right: -10px;
}

#photos-to-upload .photo-wrapper:hover .icon-circle.setting,
#photos-to-upload .photo-wrapper:hover .icon-circle.remove {
    display: block;
}

/* Модальное окно */
.modal-dialog .modal-content {
    border-radius: 15px;
    background-color: #F3ECE4;
}

.modal-dialog .modal-content .modal-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: solid #DFC8BB 1px;
    border-bottom-color: #D0CAC4;
}

.modal-dialog .modal-content .modal-header h4 {
    font-family: RobotoMedium, sans-serif;
    font-size: 18px;
    text-align: center;
}

.modal-dialog .modal-content .modal-footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: solid #DFC8BB 1px;
    border-top-color: #D0CAC4;
    text-align: center;
}

.modal-dialog .modal-content .modal-body {
    padding: 0;
    background-color: #F0E6DD;
}

#photo-place {
    position: relative;
    float: left;
    width: 400px;
    height: 400px;
    margin-left: 25px;
    background: #DAC9BE url('../img/photo-setting-diagonal-bg.png');
}

#preview-wrapper {
    float: right;
    width: 173px;
    padding: 50px 15px
}

#preview-wrapper figure {
    text-align: center;
}


#preview-wrapper p {
    color: #504C3F;
    margin-top: 10px;
}

#preview {
    display: inline-block;
    box-sizing: content-box;
    width: 82px;
    height: 82px;
    border: solid #BE957B 1px;
    margin-bottom: 6px;
}

#photo-wrapper {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#photo-wrapper .photo-shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
}

#select-place {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 260px;
    height: 260px;
    overflow: hidden;
}

#select-place img {
    margin: -10px -20px -90px -20px;
}

#photo-wrapper .marker {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #FFFFFF;
    opacity: 0.7;
}

#photo-wrapper .marker.left-top {
    top: 10px;
    left: 20px;
    margin: -5px 0 0 -5px;
    cursor: se-resize;
}

#photo-wrapper .marker.right-top {
    top: 10px;
    left: 280px;
    margin: -5px 0 0 -5px;
    cursor: sw-resize;
}

#photo-wrapper .marker.right-bottom {
    top: 270px;
    left: 280px;
    margin: -5px 0 0 -5px;
    cursor: nw-resize;
}

#photo-wrapper .marker.left-bottom {
    top: 270px;
    left: 20px;
    margin: -5px 0 0 -5px;
    cursor: ne-resize;
}

#photo-settings-cancel {
    width: 100px;
    margin-right: 15px;
}

#photo-settings-save {
    width: 100px;
}

#photo-input {
    display: none;
}