main {
    float: left;
    width: 700px;
}

aside {
    float: left;
    width: 220px;
}

main.right, aside.right {
    margin-left: 40px;
}

h3, .flag-link {
    display: inline-block;
    vertical-align: middle;
}

h3 {
    text-transform: uppercase;;
}

.flag-link {
    position: relative;
    padding: 5px 10px;
    margin: 0 0 0 15px;
    background: #FFB800;
}

.flag-link a {
    font-size: 16px;
}

.flag-link::before {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    border-top: solid #FFB800 8px;
    border-bottom: solid transparent 8px;
    border-left: solid #FFB800 5px;
    border-right: solid transparent 5px;
}

.flag-link::after {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 0;
    border-top: solid transparent 8px;
    border-bottom: solid #FFB800 8px;
    border-left: solid #FFB800 5px;
    border-right: solid transparent 5px;
}

.flag-link + div {
    margin-top: 32px;
}

#studio-carousel {
    position: relative;
}

#studio-carousel .studio-block {
    margin-bottom: 35px;
}

#studio-carousel .studio-info,
#studio-carousel .some-goods,
#studio-carousel .photo,
#studio-carousel .info {
    display: inline-block;
    vertical-align: middle;
}

#studio-carousel .photo,
#studio-carousel .info {
    vertical-align: top;
}

#studio-carousel .studio-info {
    width: 490px;
}

#studio-carousel .some-goods {
    width: 208px;
}

#studio-carousel .photo {
    position: relative;
    margin-left: 10px;
}

#studio-carousel .photo img {
    border: solid #CFBAAD 1px;
}

#studio-carousel .photo div {
    position: absolute;
    top: -10px;
    left: -10px;
}

#studio-carousel .info {
    width: 345px;
    margin-left: 15px;
}

#studio-carousel .info div {
    margin-top: -5px;
}

#studio-carousel .info p {
    margin: 8px 0;
    font-family: pt_serifItalic, serif;
    font-size: 15px;
    color: #504C3F;
    min-height: 40px;
}

#studio-carousel .info ul {
    white-space: nowrap;
}

#studio-carousel .info ul li {
    display: inline-block;
    margin-right: 15px;
}

#studio-carousel .some-goods a {
    margin-right: 2px;
    line-height: 51px;
}

#studio-carousel .how-be-this {
    bottom: -55px;
    z-index: 1;
}

main .dashed {
    margin: 40px 0 40px 0;
}

/* блок товаров */
.good-tile {
    padding-left: 10px;
    text-align: justify;

    line-height: 0; /* если не сделать, то псевдоэлемент даст высоту приличную */
    font-size: 1px; /* 1px для Opera */
}

/* justify невыравнивает последнюю строку, поэтому добавим в конец псевдоэлемент */
.good-tile:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden;

}

.good-tile .good-instance {
    display: inline-block;
    width: 190px;
    height: 370px;
    text-align: left;
    margin-bottom: 45px;
    font-size: 14px; /* Вернём стандартный размер шрифта*/
}

.good-tile .good-instance:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.good-tile .good-instance img {
    border: solid #CFBAAD 1px;
}

.good-tile .good-instance figcaption {
    padding: 5px 5px 0 5px;
    min-height: 70px;
}

.good-tile .good-instance .good-studio > div {
    display: inline-block;
    margin: 0 4px 0 5px;
    height: 40px;
    vertical-align: middle;
}

.good-tile .good-instance .good-studio .icon-circle {
    margin-top: 8px;
}

.good-tile .good-instance .good-studio span {
    display: inline-block;
    width: 150px;
    vertical-align: middle;
}

.good-tile .good-instance .price {
    position: relative;
    height: 66px;
    background: #A6D251 url('../img/diagonal-bg.png');
    text-align: center;
    margin-top: 5px;
    padding: 5px 0 0 20px;
    color: #FFFFFF;
}

.good-tile .good-instance .price::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: solid transparent 10px;
    border-bottom: solid #FDF8F0 10px;
    border-left: solid #FDF8F0 48px;
    border-right: solid transparent 48px;
}

.good-tile .good-instance .price::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    border-top: solid transparent 10px;
    border-bottom: solid #FDF8F0 10px;
    border-left: solid transparent 48px;
    border-right: solid #FDF8F0 48px;
}

.good-tile .good-instance .price span:first-child {
    font-family: RobotoBlack, sans-serif;
    font-size: 32px;
}

.good-tile .good-instance .price span:last-child {
    font-family: RobotoMedium, sans-serif;
}

#new-goods {
    margin-bottom: 75px;
}