#login-action {
    width: 140px;
}

.panel .panel-header {
    padding-top: 12px;
}

.panel .panel-footer {
    height: 75px;
}

.panel .panel-footer::before {
    margin-bottom: 22px;
}

.panel .left-col {
    width: 230px;
    text-align: right;
}

.panel .error-summary {
    padding-left: 28px;
}