@import 'fonts.css';
@import 'reset.css';

html, body {
    width: 100%;
    height: 100%;
    font-family: RobotoRegular, sans-serif;
    font-size: 14px;
    color: #444444;
}

/* Ссылки */
a {
    font-family: RobotoRegular, sans-serif;
    font-size: 15px;
    color: #444444;
    text-decoration: underline;
}

a:hover,
a:focus {
    color: #FF7F66;
    text-decoration: none;
}

a.big-red {
    font-size: 18px;
    color: #FF7F66;
}

/* Белая ссылка с подчеркиванием */
a.white {
    color: #FFFFFF;
    text-decoration: underline;
}

a.white:hover {
    text-decoration: none;
}

/* Ссылка для товара на главной. Без подчеркивания. */
a.good-tile-link {
    font-size: 16px;
    color: #322C25;
    text-decoration: none;
}
a.good-tile-link:hover {
    text-decoration: underline;
}

/* Курсивная ссылка студии в блоке товара на главной. */
a.italic {
    font-family: pt_serifItalic, serif;
    font-size: 15px;
}

a.dashed-underline {
    display: inline-block;
    position: relative;
    text-decoration: none;
}
a.dashed-underline::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    left: 2px;
    bottom: 0;
    background: url('../img/dashed-bg.png') repeat-x;
}
a.dashed-underline:hover::after {
    display: none;
}
/* <Конец> Ссылки */

/* Текстовые стили */
.darker {
    color: #322C25;
}

.little-bigger {
    font-size: 15px;
}

.bigger {
    font-size: 16px;
}

.smaller {
    font-size: 13px;
}

.lighter {
    color: #646464;
    font-size: 14px;
}

.news-date {
    font-family: pt_serifItalic, serif;
    font-size: 13px;
    color: #FF7F66;
}

.big-red-medium {
    font-family: RobotoMedium, sans-serif;
    font-size: 18px;
    color: #FF7F66;
}

.big-digit {
    font-family: RobotoBlack, sans-serif;
    font-size: 30px;
    color: #797979;
}

.digit {
    font-family: RobotoMedium, sans-serif;
    font-size: 15px;
}
/* <Конец> Текстовые стили */

#wrapper {
    position: relative;
    min-height: 100%;
    background: #FDF8F0;
    margin-bottom: -104px;
    overflow: hidden;
}

#center-wrapper {
    position: relative;
    width: 960px;
    min-height: 100%;
    margin: auto;
}

#footer-buffer {
    height: 104px;
}

footer {
    position: relative;
    height: 104px;
    width: 100%;
    background: #95938D;
    border-top: solid #C9C5BE 1px;
}

header {
    position: relative;
    height: 198px;
}

#l-h-spiral {
    position: absolute;
    left: -148px;
    top: -9px;
    width: 151px;
    height: 150px;
    background: url('../img/left-bg-spiral.png');
}

#r-h-spiral {
    position: absolute;
    right: -143px;
    top: 0;
    width: 152px;
    height: 150px;
    background: url('../img/right-bg-spiral.png');
}

.header-col {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

#logo {
    width: 156px;
    height: 129px;
    background: url('../img/logo-substrate.png') no-repeat;
    margin-top: 34px;
}

#logo h1 {
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    background: url('../img/logo-dashed-line.png') center 60px no-repeat;
}

#logo h1 a {

    font-family: Intro_Regular, sans-serif;
    font-size: 32px;
    color: #FFB800;
    text-decoration: none;
}

#logo h1 a span {
    font-family: pf_din_text_comp_proRegular, sans-serif;
    color: #322E25;
    letter-spacing: 6px;
    padding-left: 10px;
}

#site-description {
    margin-top: 34px;
    padding: 10px 0 0 10px;
    font-family: pt_serifItalic, serif;
    font-size: 15px;
    color: #504C3F;
}

header nav {
    position: relative;
    height: 42px;
    width: 554px;
    margin-top: 6px;
    background: #FF7F66 url('../img/nav-bg.png');
}

header nav::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border-top: solid transparent 21px;
    border-bottom: solid transparent 21px;
    border-left: solid transparent 15px;
    border-right: solid #FDF8F0 15px;
}

header nav .top-line {
    position: absolute;
    top: 5px;
    height: 1px;
    width: 100%;
    background: url('../img/nav-dashed-line.png') repeat-x;
}

header nav .bottom-line {
    position: absolute;
    bottom: 5px;
    height: 1px;
    width: 100%;
    background: url('../img/nav-dashed-line.png') repeat-x;
}

header nav a {
    font-family: RobotoMedium, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

header nav a:hover {
    color: #FBEDC8;
}

header nav ul li {
    float: left;
    height: 26px;
    line-height: 23px;
    margin-top: 8px;
    padding: 0 8px;
    font-family: RobotoMedium, sans-serif;
    font-size: 17px;
}

header nav ul li:first-child {
    padding-left: 16px;
}

header nav ul li:nth-last-child(n+2)::after {
    content: '';
    display: inline-block;
    height: 10px;
    width: 9px;
    margin: 0 0 -1px 8px;
    background: url('../img/nav-circle-marker.png') no-repeat;
}

header nav ul li a {
    color: #FFFFFF;
}

input.form-control {
    border-color: #DFC8BB;
    color: #322C25;
}

input.form-control:hover {
    border-color: #DFC8BB;
}

input.form-control:focus {
    border-color: #DFC8BB;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 187, 102, 0.6);
}

button:focus, a {
    outline: none !important;
}

button.btn {
    border-color: #DFC8BB;
    color: #95938D;
}

button.btn:hover {
    color: #FFFFFF;
    background-color: #CFBAAD;
    border-color: #DFC8BB;
}

button.btn:focus {
    color: #FFFFFF;
    background-color: #CFBAAD;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 187, 102, 0.6);
}

button.btn, input.form-control {
    border-radius: 0;
    font-size: 16px;
    height: 38px;
    border-color: #DFC8BB;
    box-shadow: none;
}

#search {
    margin: 12px 0 0 14px;
    width: 524px;
}

#search input.form-control {
    padding-right: 40px;
}

.dropdown-group .vertical-divider {
    position: absolute;
    right: 0;
    top: 4px;
    width: 1px;
    height: 30px;
    background: #DFC8BB;
    z-index: 3;
}

.dropdown-left-group button {
    border-right: none;
}

.dropdown-left-group input {
    border-left: none;
}

.dropdown-left-group .caret {
    margin: 0 0 2px 3px;
    border-right-width: 4px;
    border-left-width: 4px;
    border-top: solid #AAA9A4 6px;
}

button.btn:hover .caret,
button.btn:focus .caret {
    border-top-color: #FFFFFF;
}

#search-submit {
    position: absolute;
    right: 0;
    height: 38px;
    width: 38px;
    border: none;
    background: url('../img/search-button.png') center no-repeat;
    opacity: 0.6;
    z-index: 3;
}

#search-submit:hover {
    opacity: 1;
}

.dropdown-menu {
    border: solid #DFC8BB 1px;
    border-radius: 0;
    top: 35px;
    padding: 0;
}

.dropdown-menu li {
    height: 35px;
}

.dropdown-menu li a {
    color: #95938D;
    line-height: 35px;
    text-decoration: none;
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-menu li a:hover {
    color: #FFFFFF;
    background-color: #CFBAAD;
}

.dropdown-menu li.divider {
    margin: 0 5px;
    background-color: #DFC8BB;
}

.button {
    display: inline-block;
    position: relative;
    height: 38px;
}

.button .margin-layer {
    width: 100%;
    height: 4px;
}

.button .low-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #A28A7B url('../img/diagonal-bg.png');
    border-radius: 9px;
}

.button button, .button a[data-type="button"] {
    display: block;
    position: absolute;
    bottom: 4px;
    height: 100%;
    width: 100%;
    background: #C2AA9C;
    border: none;
    border-radius: 9px;
    font-family: RobotoMedium, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    padding: 0;
    vertical-align: middle;
}

.button button:active, .button a[data-type="button"]:active {
    bottom: 1px;
}

.button.yellow .low-layer {
    background-color: #E49808;
}

.button.yellow button, .button.yellow a[data-type="button"] {
    background-color: #FFB800;
}

.button a[data-type="button"] {
    text-decoration: none;
    line-height: 38px;
    cursor: pointer;
}

#signup-button {
    width: 176px;
}

#login-button {
    width: 140px;
    margin-top: 9px;
}

#personal {
    width: 250px;
    margin: 43px 0 0 0;
}

#personal.non-authorized {
    text-align: center;
}

#personal .welcome {
    margin-bottom: 11px;
}

#personal.authorized {
    margin-top: 62px;
    padding-left: 30px;
}

#personal.authorized menu li:first-child {
    padding-bottom: 4px;
}

#personal.authorized menu li:first-child a {
    font-family: RobotoMedium, sans-serif;
}

#logout {
    margin: 2px 0 0 5px;
}

#main-help {
    position: absolute;
    top: 20px;
    right: 0;
}

#dark-bg {
    position: absolute;
    bottom: 0;
    height: 22px;
    width: 100%;
    background: #898781;
}

.dashed {
    position: relative;
    border-bottom: dashed #EFEBE3 2px;
}

.dashed.scissor-right::after {
    content: '';
    position: absolute;
    top: -11px;
    right: -12px;
    width: 23px;
    height: 24px;
    background: url('../img/scissor.png') no-repeat -23px;
}

.dashed.scissor-left::before {
    content: '';
    position: absolute;
    top: -11px;
    left: -12px;
    width: 23px;
    height: 24px;
    background: url('../img/scissor.png') no-repeat;
}

#left-background {
    position: absolute;
    width: 151px;
    height: 100%;
    left: -220px;
    background: url('../img/left-bg-spiral.png') repeat-y 0 20px;
}

#right-background {
    position: absolute;
    width: 152px;
    height: 100%;
    right: -220px;
    background: url('../img/right-bg-spiral.png') repeat-y 0 155px;
}

footer .footer-col {
    display: inline-block;
    color: #FFFFFF;
    vertical-align: top;
}

#footer-content {
    position: relative;
    width: 960px;
    margin: auto;
}

#mini-logo {
    position: relative;
    top: -5px;
    width: 106px;
    height: 90px;
    background: url('../img/logo-mini-substrate.png') no-repeat;
}

#mini-logo h1 {
    padding-top: 12px;
    font-family: Intro_Regular, sans-serif;
    font-size: 22px;
    color: #FFB800;
    text-align: center;
    text-transform: uppercase;
    background: url('../img/logo-mini-dashed-line.png') center 39px no-repeat;
}

#mini-logo h1 span {
    font-family: pf_din_text_comp_proRegular, sans-serif;
    color: #322E25;
    letter-spacing: 5px;
    padding-left: 5px;
}

footer .footer-col.description {
    width: 215px;
    margin: 10px 0 0 15px;
}

footer .footer-col.description span:first-child {
    font-family: pt_serifItalic, sans-serif;
    font-size: 15px;
}

footer .footer-col.description span:last-child {
    line-height: 28px;
}

footer .footer-col.menu {
    margin: 20px 0 0 30px;
}

footer .footer-col.menu li {
    display: inline-block;
    font-size: 16px;
    margin-right: 15px;
}

footer .contacts {
    position: absolute;
    right: 0;
    top: 0;
    width: 168px;
}

footer .social {
    margin-top: 18px;
}

footer .social .icon {
    height: 16px;
    border-radius: 0;
}

footer .social .icon.vk {
    width: 13px;
    background: url("../img/icon-social.png") no-repeat -8px 0;
}

footer .feedback {
    margin-top: 22px;
}

#footer-help {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 0;
    border: solid #FFFFFF 2px;
    background: transparent;
    line-height: 26px;
    font-size: 24px;
}

main.float {
    float: left;
    width: 700px;
}

aside.float {
    float: left;
    width: 220px;
}

main.float.right, aside.float.right {
    margin-left: 40px;
}

.bold-underline {
    display: inline-block;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    padding-bottom: 3px;
    vertical-align: top;
}

.atelier .bold-underline {border-bottom-color: #FFB800;}
.store .bold-underline {border-bottom-color: #FF7F66;}
.user .bold-underline {border-bottom-color: #9FD245;}

#content {
    margin-top: 30px;
}

h3 {
    font-family: RobotoMedium, sans-serif;
    font-size: 26px;
}

/* Блок "О сайте" который только на главной */
#about-site section {
    display: inline-block;
    width: 392px;
    height: 216px;
    margin: 10px 0;
    text-align: center;
    color: #322D25;
}

#about-site section:first-child {
    border-right: dashed #EFEBE3 2px;
}

#about-site section:nth-child(2) {
    width: 172px;
    border-right: dashed #EFEBE3 2px;
}

#about-site h2 {
    text-align: center;
    font-size: 20px;
    margin-top: 4px;
}

#about-site figure {
    display: inline-block;
    width: 125px;
    margin-top: 20px;
    text-align: center;
    vertical-align: top;
}

#about-site figure > div {
    display: inline-block;
    width: 84px;
    height: 84px;
    border: solid #D5BCAE 2px;
    border-radius: 50%;
}

#about-site figure > div >div {
    height: 63px;
    width: 47px;
    margin: auto;
    background: url('../img/main-page-icons.png');
    margin-top: 7px;
}

#about-site .main-icon-good {width: 45px; background-position: -47px}
#about-site .main-icon-search {width: 50px; background-position: -91px; margin-top: 8px}
#about-site .main-icon-material {width: 71px; background-position: -141px; margin-top: 10px}
#about-site .main-icon-scissor {width: 58px; background-position: -212px; margin-top: 8px}
#about-site .main-icon-meter {width: 60px; background-position: -271px; margin-top: 11px}
#about-site .main-icon-face {width: 56px; background-position: -331px; margin-top: 8px}
/* <Конец> Блок "О сайте" который только на главной */

/* Карусель товаров */
#good-carousel {
    position: relative;
    height: 182px;
    margin-top: 17px;
    background: url('../img/sloping-line-bg.png') repeat-x 0 bottom;
}

#good-carousel .img-line {
    height: 156px;
    margin: 0 2px;
    border-left: solid #CFBAAD 4px;
    border-right: solid #CFBAAD 4px;
    overflow: hidden;
}

#good-carousel .moving-line {
    line-height: 156px;
    overflow: hidden;
    white-space: nowrap;
    margin-left: -0px;
}

#good-carousel img {
    border: solid #CFBAAD 1px;
    margin: 0 5px;
}

.how-be-this {
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: auto;
    width: 214px;
    height: 30px;
    overflow: hidden;
    text-align: center;
    border: solid #E7DBD0 2px;
    border-radius: 12px;
    background-color: #FFFFFF;
}

.how-be-this > span {
    display: inline-block;
    margin-top: -5px;
}

.how-be-this span span, .how-be-this a {
    font-size: 16px;
    vertical-align: bottom;
}
.how-be-this span span {
    font-size: 20px;
}
/* <Конец> Карусель товаров */

.clear {
    clear: both;
}

/* Хлебные крошки */
ul.breadcrumb {
    background-color: transparent;
    color: #444444;
}
ul.breadcrumb a {
    font-size: 14px;
}
/* <Конец> Хлебные крошки */

/* Иконки */
.icon-circle {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    vertical-align: middle;
}

.icon-circle-text {
    text-align: center;
    font-family: RobotoBold, sans-serif;
    font-size: 28px;
    font-style: normal;
    line-height: 34px;
    color: #FFFFFF;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select:none;
    user-select: none;
    text-decoration: none;
}

.icon-circle-text:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.icon-help {
    background: #9FD245;
    cursor: pointer;
}

.icon-help:before {
    content: '?';
}

.icon-circle.small {
    width: 24px;
    height: 24px;
}

.icon-circle i {
    display: block;
    background: url('../img/circle-group-icons.png') no-repeat;
}

/* Иконки ателье */
.icon-circle.atelier {
    background-color: #FFB800;
}
.icon-circle.atelier i {
    width: 18px;
    height: 18px;
    margin: 7px auto;
}

.icon-circle.atelier.small i {
    width: 14px;
    height: 13px;
    margin: 4px auto;
    background-position: 0 -18px;
}

/* Иконки магазина */
.icon-circle.store {
    background-color: #FF7F66;
}
.icon-circle.store i {
    width: 19px;
    height: 18px;
    margin: 8px;
    background-position: -18px 0;
}

.icon-circle.store.small i{
    width: 13px;
    height: 12px;
    margin: 6px;
    background-position: -14px -18px;
}

/* Иконки персоны */
.icon-circle.person-green {
    background-color: #9FD245;
}
.icon-circle.person-green i {
    width: 12px;
    height: 16px;
    margin: 8px auto;
    background-position: -37px 0;
}

/* Основные иконки */
.icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url('../img/main-group-icons.png') no-repeat;
    margin-bottom: 2px;
}

.button button.icon-line,
.button a[data-type="button"].icon-line {
    padding-right: 5px;
}
.icon-line .icon,
.icon-line span {
    vertical-align: middle;
}
.icon-line .icon {
    margin-right: 6px;
}

.icon.person-white {
    background-position: -544px -16px;
}

.icon.login {
    background-position: -560px 0;
}

.icon.logout {
    background-position: -576px 0;
}

.icon.person-green {
    background-position: -560px -16px;
}

.icon.order {
    background-position: -432px -16px;
}

.icon.order-light {
    background-position: -752px 0;
}

.icon.basket {
    background-position: -464px 0;
}

.icon.message {
    background-position: -464px -16px;
}

.icon.store {
    background-position: -416px -16px;
}

.icon.statistic {
    background-position: -432px 0;
}

.icon.archive {
    background-position: -416px 0;
}

.icon.arrow {
    background-position: -448px 0;
}

.icon.rouble {
    background-position: -592px -16px;
    margin-bottom: 0;
}

.icon.rouble-light {
    background-position: -624px -16px;
    margin-bottom: 0;
}

.icon.little-star {
    background-position: -784px 0;
    margin: 0 3px;
}

.icon.star {
    background-position: -688px 0;
    margin-bottom: 0;
}

/* <Конец> Иконки */

/*  Формы и оформление */
.panel {
    position: relative;
    background-color: #FAF3EB;
    border: solid #CFBAAD 1px;
    border-radius: 15px;
    padding: 10px 0;
}

.panel.big-panel {
    width: 794px;
    margin: 0 auto 40px;
}

.panel.small-panel {
    height: 142px;
    width: 165px;
}

.panel.small-panel div {
    text-align: center;
}

.panel.small-panel .panel-body {
    padding: 0;
}

.panel.small-panel .panel-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.panel .panel-header,
.panel .panel-body,
.panel .panel-footer {
    background-color: #FAF3EB;
}
.panel .panel-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}
.panel .panel-footer {
    /*height: 60px;*/
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: none;
    text-align: center;
    padding: 0;
}

.panel .panel-header h3 {
    display: inline-block;
    vertical-align: middle;
}

.panel .panel-header .icon-circle {
    margin-right: 10px;
}

.panel .panel-header::after {
    display: block;
    content: '';
    height: 1px;
    background-color: #CFBAAD;
    margin: 22px 14px 0 14px;
}

.panel .panel-footer::before {
    display: block;
    content: '';
    height: 1px;
    background-color: #CFBAAD;
    margin: 0 14px;
}

.panel .left-col,
.panel .center-col,
.panel .right-col,
.panel .form-group {
    display: inline-block;
    vertical-align: top;
    height: 38px;
    line-height: 38px;
}

.panel .center-col {
    position: relative;
    width: 300px;
}

.panel .left-col {
    margin-right: 15px;
    font-family: RobotoMedium, sans-serif;
    font-size: 16px;
}

.panel .left-col label {
    font-weight: normal;
}

.panel .center-col .help-block {
    position: absolute;
    width: 210px;
    background-color: #FF7F66;
    padding: 10px 12px;
    display: none;
    left: 315px;
    bottom: 0;
    color: #FFFFFF;
    margin: 0;
    border: solid #E5725C 1px;
    font-size: 15px;
}

.panel .right-col {
    color: #7E827A;
    font-size: 15px;
    padding-left: 24px;
}

.panel .has-error .center-col:after {
    content: '';
    height: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 300px;
    margin: auto;
    border-top: solid transparent 5px;
    border-bottom: solid transparent 5px;
    border-left: solid transparent 8px;
    border-right: solid #FF7F66 8px;
}

.panel .has-error .center-col .help-block {
    display: block;
}

.panel .error-summary {
    font-size: 15px;
    color: #E96C53;
    margin-bottom: 10px;
}

.panel .error-summary li {
    width: 300px;
    margin: auto;
}

.panel .captcha-line,
.panel .captcha-line .left-col,
.panel .captcha-line .center-col,
.panel .captcha-line .right-col {
    height: 62px;
    line-height: 62px;
    vertical-align: middle;
}

.panel .captcha-line .right-col {
    padding-left: 15px;
}
.panel .captcha-line .right-col span:first-child {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
}
.panel .captcha-line .right-col span:last-child {
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
    padding-left: 10px;
}

.panel .captcha-line input {
    display: inline-block;
    width: 155px;
}

.panel .captcha-line img {
    display: inline-block;
    border: solid #CFBAAD 1px;
    margin-left: 13px;
}

.panel .captcha-line .center-col .help-block {
    top: 0;
}

.has-error .form-control,
.has-error .form-control:focus,
.has-error .form-control:hover
{
    border-color: #FF7F66;
}
.has-error .form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px rgba(219, 143, 123, 0.82);
}

.has-success .form-control,
.has-success .form-control:focus,
.has-success .form-control:hover
{
    border-color: #9FD246;
}

.has-error .control-label,
.has-success .control-label {
    color: #444444;
}
/* <Конец> Формы и оформление */

/* Различные виджеты */
.widget.news li {
    margin-top: 15px;
}
/* <Конец> Различные виджеты */

/* Оформление чекбоксов */
input[type=checkbox] {display: none;}

input[type=checkbox] + label:before {
    content: "";
    display: inline-block;
    border: 1px solid #DFC8BB;
    font-size: 11px;
    line-height: 15px;
    margin: 0 5px 5px 0;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    background-color: #FFFFFF;
}

input[type=checkbox]:checked + label:before {
    content: "✔";
}
/* <Конец> Оформление чекбоксов */

/* Оформление фотографии и подписи студии/пользователя */
.person-info {
    position: relative;
}

.person-info img {
    border: solid #CFBAAD 1px;
    margin-bottom: 9px;
}

.person-info > div {
    padding: 10px 0 20px 0;
    background: #DDCCC1 url('../img/nav-bg.png');
}

.person-info .name {
    display: inline-block;
    vertical-align: middle;
    width: 154px;
    font-family: RobotoMedium, sans-serif;
    font-size: 16px;
}

.person-info .icon-circle {
    margin: 0 10px 0 18px;
    cursor: help;
}

.person-info .city {
    text-align: center;
    font-family: pt_serifItalic, serif;
    font-size: 13px;
}

.person-info > div::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: solid transparent 10px;
    border-bottom: solid #FDF8F0 10px;
    border-left: solid #FDF8F0 55px;
    border-right: solid transparent 55px;
}

.person-info > div::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    border-top: solid transparent 10px;
    border-bottom: solid #FDF8F0 10px;
    border-left: solid transparent 55px;
    border-right: solid #FDF8F0 55px;
}
/* <Конец> Оформление фотографии и подписи студии/пользователя */

/* Оформление больших цифр репутации */
.rating-block {
    display: inline-block;
    width: 74px;
    text-align: center;
}

.rating-block span:last-child {
    font-family: RobotoBlack, sans-serif;
    font-size: 18px;
    color: #797979;
}

.rating-block .line {
    box-sizing: content-box;
    height: 1px;
    border-style: solid;
    border-width: 2px;
}

.rating-block .line > div {
    height: 1px;
}
/* <Конец> Оформление больших цифр репутации */