@import 'fonts.css';
@import 'reset.css';

html, body {
    width: 100%;
    height: 100%;
    font-family: RobotoRegular, sans-serif;
    font-size: 14px;
    color: #444444;
}

a {
    font-family: RobotoRegular, sans-serif;
    font-size: 15px;
    color: #444444;
    text-decoration: underline;
}

a:hover {
    color: #FF7F66;
    text-decoration: none;
}

#wrapper {
    position: relative;
    min-height: 100%;
    background: #FDF8F0;
    margin-bottom: -104px;
    overflow: hidden;
}

#center-wrapper {
    position: relative;
    width: 960px;
    min-height: 100%;
    margin: auto;
}

#footer-buffer {
    height: 104px;
}

footer {
    position: relative;
    height: 104px;
    width: 100%;
    background: #95938D;
    border-top: solid #C9C5BE 1px;
}

header {
    position: relative;
    height: 198px;
}

#l-h-spiral {
    position: absolute;
    left: -148px;
    top: -9px;
    width: 151px;
    height: 150px;
    background: url('../img/left-bg-spiral.png');
}

#r-h-spiral {
    position: absolute;
    right: -143px;
    top: 0;
    width: 152px;
    height: 150px;
    background: url('../img/right-bg-spiral.png');
}

.header-col {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

#logo {
    width: 156px;
    height: 129px;
    background: url('../img/logo-substrate.png') no-repeat;
    margin-top: 34px;
}

#logo h1 {
    padding-top: 20px;
    font-family: Intro_Regular, sans-serif;
    font-size: 32px;
    color: #FFB800;
    text-align: center;
    text-transform: uppercase;
    background: url('../img/logo-dashed-line.png') center 60px no-repeat;
}

#logo h1 span {
    font-family: pf_din_text_comp_proRegular, sans-serif;
    color: #322E25;
    letter-spacing: 6px;
    padding-left: 10px;
}

#site-description {
    margin-top: 34px;
    padding: 10px 0 0 10px;
    font-family: pt_serifItalic, serif;
    font-size: 15px;
    color: #504C3F;
}

header nav {
    position: relative;
    height: 42px;
    width: 554px;
    margin-top: 6px;
    background: #FF7F66 url('../img/nav-bg.png');
}

header nav::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border-top: solid transparent 21px;
    border-bottom: solid transparent 21px;
    border-left: solid transparent 15px;
    border-right: solid #FDF8F0 15px;
}

header nav .top-line {
    position: absolute;
    top: 5px;
    height: 1px;
    width: 100%;
    background: url('../img/nav-dashed-line.png') repeat-x;
}

header nav .bottom-line {
    position: absolute;
    bottom: 5px;
    height: 1px;
    width: 100%;
    background: url('../img/nav-dashed-line.png') repeat-x;
}

header nav a {
    font-family: RobotoMedium, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

header nav a:hover {
    color: #FBEDC8;
}

header nav ul li {
    float: left;
    height: 26px;
    line-height: 23px;
    margin-top: 8px;
    padding: 0 8px;
    font-family: RobotoMedium, sans-serif;
    font-size: 17px;
}

header nav ul li:first-child {
    padding-left: 16px;
}

header nav ul li:nth-last-child(n+2)::after {
    content: '';
    display: inline-block;
    height: 10px;
    width: 9px;
    margin: 0 0 -1px 8px;
    /*padding-top: 8px;*/
    background: url('../img/nav-circle-marker.png') no-repeat;
}

/*header nav ul li:last-child::after {*/
    /*content: '';*/
    /*margin: 0 0 -9px 8px;*/
/*}*/

header nav ul li a {
    color: #FFFFFF;
}

input.form-control {
    border-color: #DFC8BB;
    color: #322C25;
}

input.form-control:hover {
    border-color: #DFC8BB;
}

input.form-control:focus {
    border-color: #DFC8BB;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 187, 102, 0.6);
}

button:focus, a {
    outline: none !important;
}

button.btn {
    border-color: #DFC8BB;
    color: #DFC7BA;
}

button.btn:hover {
    color: #322C25;
    background: #fff;
    border-color: #DFC8BB;
}

button.btn:focus {
    background: #fff;
    border-color: #DFC8BB;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 187, 102, 0.6);
}

button.btn, input.form-control {
    border-radius: 0;
    font-size: 16px;
    height: 38px;
    border-color: #DFC8BB;
    box-shadow: none;
}

#search {
    margin: 12px 0 0 14px;
    width: 524px;
}

#search input.form-control {
    padding-right: 40px;
}

.dropdown-group .vertical-divider {
    position: absolute;
    right: 0;
    top: 4px;
    width: 1px;
    height: 30px;
    background: #DFC8BB;
    z-index: 3;
}

.dropdown-left-group button {
    border-right: none;
}

.dropdown-left-group input {
    border-left: none;
}

.dropdown-left-group .caret {
    margin: 0 0 2px 3px;
    border-right-width: 4px;
    border-left-width: 4px;
    border-top: solid #AAA9A4 6px;
}

#search-submit {
    position: absolute;
    right: 0;
    height: 38px;
    width: 38px;
    border: none;
    background: url('../img/search-button.png') center no-repeat;
    opacity: 0.6;
    z-index: 3;
}

#search-submit:hover {
    opacity: 1;
}

.button {
    display: inline-block;
    position: relative;
    height: 38px;
}

.button .margin-layer {
    width: 100%;
    height: 4px;
}

.button .low-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #A28A7B url('../img/diagonal-bg.png');
    border-radius: 9px;
}

.button button, .button a[data-type="button"] {
    display: block;
    position: absolute;
    bottom: 4px;
    height: 100%;
    width: 100%;
    background: #C2AA9C;
    border: none;
    border-radius: 9px;
    font-family: RobotoMedium, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    padding: 0;
    vertical-align: middle;
}

.button button:active, .button a[data-type="button"]:active {
    bottom: 1px;
}

.button.yellow .low-layer {
    background-color: #E49808;
}

.button.yellow button, .button.yellow a[data-type="button"] {
    background-color: #FFB800;
}

.button a[data-type="button"] {
    text-decoration: none;
    line-height: 38px;
    cursor: pointer;
}

.button a[data-type="button"] span {
    padding-left: 6px;
}

#signup-button {
    width: 176px;
}

#login-button {
    width: 140px;
    margin-top: 9px;
}

#personal {
    width: 250px;
    margin: 43px 0 0 0;
}

#personal.non-authorized {
    text-align: center;
}

#personal .welcome {
    margin-bottom: 11px;
}

#personal.authorized {
    margin-top: 62px;
    padding-left: 30px;
}

#personal.authorized menu li:first-child {
    padding-bottom: 4px;
}

#personal.authorized menu li:first-child a {
    font-family: RobotoMedium, sans-serif;
}

.icon {
    display: inline-block;
    height: 18px;
    width: 18px;
}

.icon-person-white {
    width: 13px;
    height: 15px;
    background: url('../img/person-white.png') no-repeat;
}

.icon-login {
    width: 18px;
    height: 16px;
    background: url('../img/login-icon.png') no-repeat;
}

.icon-circle {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    text-align: center;
    font-family: RobotoBold, sans-serif;
    font-size: 28px;
    font-style: normal;
    line-height: 34px;
    color: #FFFFFF;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select:none;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
}

.circle-icon:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.icon-help {
    background: #9FD245;
}

.icon-help:before {
    content: '?';
}

#main-help {
    position: absolute;
    top: 20px;
    right: 0;
}

#dark-bg {
    position: absolute;
    bottom: 0;
    height: 22px;
    width: 100%;
    background: #898781;
}

.dashed {
    position: relative;
    border-bottom: dashed #EFEBE3 2px;
}

.dashed.scissor-right {
    margin-right: 12px;
}

.dashed.scissor-right::after {
    content: '';
    position: absolute;
    top: -11px;
    right: -12px;
    width: 23px;
    height: 24px;
    background: url('../img/scissor.png') no-repeat -23px;
}

.dashed.scissor-left {
    margin-left: 12px;
}

.dashed.scissor-left::before {
    content: '';
    position: absolute;
    top: -11px;
    left: -12px;
    width: 23px;
    height: 24px;
    background: url('../img/scissor.png') no-repeat;
}

#left-background {
    position: absolute;
    width: 151px;
    height: 100%;
    left: -220px;
    background: url('../img/left-bg-spiral.png') repeat-y 0 20px;
}

#right-background {
    position: absolute;
    width: 152px;
    height: 100%;
    right: -220px;
    background: url('../img/right-bg-spiral.png') repeat-y 0 155px;
}

footer .footer-col {
    display: inline-block;
    color: #FFFFFF;
    vertical-align: top;
}

footer a {
    color: #FFFFFF;
    text-decoration: underline;
}

footer a:hover {
    color: #DDDDDD;
}

#footer-content {
    position: relative;
    width: 960px;
    margin: auto;
}

#mini-logo {
    position: relative;
    top: -5px;
    width: 106px;
    height: 90px;
    background: url('../img/logo-mini-substrate.png') no-repeat;
}

#mini-logo h1 {
    padding-top: 12px;
    font-family: Intro_Regular, sans-serif;
    font-size: 22px;
    color: #FFB800;
    text-align: center;
    text-transform: uppercase;
    background: url('../img/logo-mini-dashed-line.png') center 39px no-repeat;
}

#mini-logo h1 span {
    font-family: pf_din_text_comp_proRegular, sans-serif;
    color: #322E25;
    letter-spacing: 5px;
    padding-left: 5px;
}

footer .footer-col.description {
    width: 215px;
    margin: 10px 0 0 15px;
}

footer .footer-col.description span:first-child {
    font-family: pt_serifItalic, sans-serif;
    font-size: 15px;
}

footer .footer-col.description span:last-child {
    line-height: 28px;
}

footer .footer-col.menu {
    margin: 20px 0 0 30px;
}

footer .footer-col.menu li {
    display: inline-block;
    font-size: 16px;
    margin-right: 15px;
}

footer .contacts {
    position: absolute;
    right: 0;
    top: 0;
    width: 168px;
}

footer .social {
    margin-top: 18px;
}

footer .social .icon {
    height: 16px;
    border-radius: 0;
}

footer .social .icon.vk {
    width: 13px;
    background: url("../img/icon-social.png") no-repeat -8px 0;
}

footer .feedback {
    margin-top: 22px;
}

#footer-help {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 0;
    border: solid #FFFFFF 2px;
    background: transparent;
    line-height: 26px;
    font-size: 24px;
}

.bold-underline {
    display: inline-block;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    padding-bottom: 3px;
    vertical-align: top;
}

.atelier .bold-underline {border-bottom-color: #FFB800;}
.store .bold-underline {border-bottom-color: #FF7F66;}
.user .bold-underline {border-bottom-color: #9FD245;}